
@{
    ViewBag.Title = "Dang Ky";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container">
    <div class="row">

        <div class="col-md-9">
            <table align="center">
                <h2 style="text-align:center;color:white">ĐĂNG KÝ THÀNH VIÊN</h2>
                @using (Html.BeginForm())
                {
                @Html.ValidationSummary(true)
                    <tr style="height:40px">
                        <td style="color: white"> Họ tên khách hàng:</td>
                        <td>
                            @Html.TextBox("HotenKH")
                            @ViewData["Loi1"]
                        </td>
                    </tr>
                    <tr style="height:40px">
                        <td style="color: white"> Tên đăng nhập:</td>
                        <td>
                            @Html.TextBox("TenDN")
                            @ViewData["Loi2"]
                        </td>
                    </tr>
                    <tr style="height:40px">
                        <td style="color: white">  Mật khẩu:</td>
                        <td>
                            @Html.Password("Matkhau")
                            @ViewData["Loi3"]
                        </td>
                    </tr>
                    <tr style="height:40px">
                        <td style="color: white">Mật khẩu nhậtr lại: </td>
                        <td>
                            @Html.Password("Matkhaunhatrlai")
                            @ViewData["Loi4"]
                        </td>
                    </tr>


                    <tr style="height:40px">
                        <td style="color: white"> Email:</td>
                        <td>
                            @Html.TextBox("Email")
                            @ViewData["Loi5"]
                        </td>
                    </tr>
                    <tr style="height:40px">
                        <td style="color: white"> Địa chỉ:</td>
                        <td>
                            @Html.TextBox("Diachi")
                        </td>
                    </tr>
                    <tr style="height:40px">
                        <td style="color: white">Điện thoại:</td>
                        <td>
                            @Html.TextBox("Dienthoai")
                            @ViewData["Loi6"]
                        </td>
                    </tr>
                    <tr style="height:40px">
                        <td style="color: white"> Ngày sinh :</td>
                        <td>
                            <input type="date" name="Ngaysinh" />
                        </td>
                    </tr>
                    <tr style="height:40px">
                        <td></td>
                        <td>
                            <input type="Submit" value="Đăng ký" class="btn btn-default" />
                        </td>
                        <td>@Html.ActionLink("Quay về đăng nhập", "Dangnhap")</td>
                    </tr>
                    <tr style="height:40px">
                        <td style="color: white"></td>
                        <td></td>
                        <td></td>
                    </tr>

                }
            </table>
        </div>
    </div>

</div>